@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600;1,700&display=swap');
@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css);
*

{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;
list-style: none;
}

html{
    scroll-behavior: smooth;
}

header{
    position: relative;
    position: fixed;
    right:0;
    top:0;
    width:100%;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 0.801);
    padding: 5px 70px;
    border-bottom:1px solid transparent;
    transition: all .40 ease;
    text-decoration: none;
}

.logo img{
    position: relative;
    max-width: 100px;
}

.navbar{
    display: flex;
}

.navbar a{
    color: rgb(0, 0, 0);
    font-size: 1.05rem;
    font-weight: 600;
    padding: 5px 15px;
    margin: 0 2px;
    border-radius: 20rem;
    transition: all .40s ease;
}

.navbar #active{
    color: black
}

.navbar li a{
    text-decoration: none;
    display: list-item;
}

.btnav img{
    max-width: 30px;
    border: transparent;
}

.btnav:hover{
    border: transparent;
}

.navbtns svg{
    margin-left: 10px;
}

.navbar{
    margin-top: 20px;
}

.loginico{
    max-width: 30px;
}

.functionlinks{
    display: flex;
    align-items: center;
}

.icon-btn {
    vertical-align: middle;
    background: transparent;
    flex: 0 0 auto;
    color: rgba(0,0,0,.54);
    padding: 8px;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: none;
    position: relative;
    align-items: center;
    z-index: 1000;
}

#active{
    background: #f1d4d4;
    border: 2px solid;
}

.menu_item:hover{
    text-shadow: 0px 2px 5px;
}

.page1{
    padding: 200px 70px;
    max-height: 100vh;
}

.hero{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-top: 10px;
}

.nikeLogo img{
    display: flex;
    max-width: 110px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.desc{
    grid-gap: 1em;
    position: relative;
    max-width: 600px;
    padding: 5px;
    margin-right: 250px;
}

.desc h1{
    font-weight: 900;
    font-size: 2.8em;
    margin-bottom: 40px;
}

.desc p{
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 0.62cm;
}

.desc a{
    background-color: pink;
    border-radius: 40px;
    padding: 7px 15px;
    text-decoration: none;
    font-weight: 800;
    border: 2px solid;
    color: black;
    left: 0;
}

.desc span{
    color: orange;
}

.imgBox{
    width: 20px;
    display: flex;
}

.hero2{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    margin-top: 10px;
    gap: 10em;
}
.featuredShoes{
    background-color: antiquewhite;
    padding: 55px 10px;
    max-height: 100%;    
}

.featTitle{
    padding: 0 30px;
    margin-bottom: 30px;
}

#title{
    text-align: center;
    padding: 5px 15px;
    border: 3px solid black;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2em;
}

.shoeSlider img{
    padding: 15px 70px;
    max-width: 570px;
    display: inline-block;
    border: 5px solid black;
}

.featDesc h1{
    margin-bottom: 40px;
}

.featDesc p{
    font-weight: bold;
    margin-bottom: 30px;
    color: gray;
}

.featbtn{
    background: black;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}